.app {
  background: #0e844d;
  height: 650px;
  padding: 30px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
  align-items: center;
  margin: 10px 600px 162.5px;
  width: 340px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
  width: 320px;
}

h1 {
  text-align: center;
}

input {
  width: 162px;
  margin-left: 50px;

}

select {
  width: 120px;
}